body{
    background-color:rgb(139, 141, 142);
}

header{
    background-color:rgb(82, 70, 175);
}

div{
    background-color:rgb(240, 240, 246);
    color: rgb(10, 95, 3); 
    font-style: italic;
}

img{
    float:left;
}

h1{
    text-align: center;
    color: white;
}

h2{
    font-weight: bold;
    margin-left: 3cm;
}

h3{
    text-align: center;
    color: white;
}

span{
    color: #00a3e8;
}

.contact{
    text-align: center;
    color: white;
}

.principal{
    text-align: end;
    color: white;
}