body{
    background-color:rgb(139, 141, 142);
    border-color: rgb(111, 111, 245);
    border-width: .5cm;
    border-style: dotted;
}

header{
    background-color: rgb(111, 111, 245);
}

div{
    background-color:rgb(240, 240, 246);
    color: rgb(10, 95, 3); 
    font-style: italic;
}

img{
    float:left;
}

h1{
    text-align: center;
    color: white;
}

h2{
    font-weight: bold;
    margin-left: 1.5cm;
}

h3{
    text-align: center;
    color: white;
}

span{
    color: #00a3e8;
}

.contact{
    text-align: center;
    color: white;
}

.principal{
    text-align: right;
    color: white;
}